{% extends 'baseCliente.html.jinja' %}

{% block content %}
<h1>{% block title %} Realice su pedido {% endblock %}</h1>

<form action="/order/calculate" method="post">

    <div>
        <input type="hidden" class="form-control" name="precio_unitario" value="{{ product.precio_unitario }}" required>
        <br>
    </div>
    
    <div>
        <input type="hidden" class="form-control" name="id_producto" value="{{ product.id_producto }}" readonly>
        <br>
    </div>

    <div>
        <label for="nombre">Nombre: </label><br>
        <input disabled type="text" class="form-control" name="nombre" value="{{ product.nombre }}" readonly>
        <br>
    </div>

    <div>
        <label for="precio_unitario2">Precio por unidad: </label><br>
        <input  disabled type="number" class="form-control" name="precio_unitario2" value="{{ product.precio_unitario }}" required>
        <br>
    </div>


    <div>
        <label for="descripcion">Descripción: </label><br>
        <textarea disabled class="form-control" name="descripcion" readonly>{{ product.descripcion }}</textarea>
        <br>
    </div>

    <div>
        <label for="metodo_envio">Método de envío: </label><br>
        <select  class="form-control" name="metodo_envio" required>
            <option value="agencia" {% if metodo_envio == "agencia" %}selected{% endif %}>Agencia de envío de paquetes</option>
            <option value="retiro" {% if metodo_envio == "retiro" %}selected{% endif %}>Retiro en la fábrica del productor</option>
        </select>
        <br>
    </div>

    <div>
        <label for="cantidad_productos">Cantidad de este producto que desea llevar: </label><br>
        <input type="number" class="form-control" name="cantidad_productos" min="1" max="{{ product.cantidad_productos }}" value="{{ cantidad_productos | default('') }}" required>
        <br>
    </div>

    <div>
        <label for="monto_total">Monto total a pagar: </label><br>
        <input disabled type="number" class="form-control" name="monto_total" value="{{ monto_total | default('') }}" readonly>
        <br>
    </div>

    <button type="submit">Calcular</button>
</form>

{% if monto_total %}
<form method="post" action="/order/create">
    <input type="hidden" name="id_producto" value="{{ product.id_producto }}">
    <input type="hidden" name="cantidad_productos" value="{{ cantidad_productos }}">
    <input type="hidden" name="metodo_envio" value="{{ metodo_envio }}">
    <input type="hidden" name="precio_unitario" value="{{ precio_unitario }}">
    <input type="hidden" name="monto_total" value="{{ monto_total }}">
    <input type="submit" value="Confirmar Pedido">
</form>
{% endif %}
{% endblock %}
