{% extends 'headerCRUD.html.jinja' %}

{% block content %}

<h1 class="titulo"> {% block title %} Únete a nuestra familia {% endblock %}</h1>

<form action="{{ url_for('') }}" method="post">
    
    <div>
        <input type="hidden" class="form-control" name="id_resena" placeholder="id_resena" required>
        <br>
    </div>

    <div>
        <label for="nombre">Fecha de invención: </label><br>
        <input type="date" class="form-control" name="fecha_invencion" placeholder="fecha_invencion" required>
        <br>
    </div>
    <div>
        <label for="creador">Fecha de invención: </label><br>
        <input type="date" class="form-control" name="creador" placeholder="creador" required>
        <br>
    </div>
    <div>
        <label for="nombre">Fecha de invención: </label><br>
        <input type="date" class="form-control" name="fecha_invencion" placeholder="fecha_invencion" required>
        <br>
    </div>
    <div>
        <label for="nombre">Años produciéndolo: </label><br>
        <input type="number" class="form-control" name="anios_produccion" placeholder="anios_produccion" required>
        <br>
    </div>
    <div>
        <label for="nombre">Anecdotas: </label><br>
        <input type="text" class="form-control" name="anecdotas" placeholder="anecdotas" required>
        <br>
    </div>

    <input type="submit" value="Submit">
</form>

{% endblock %}