
{% extends 'headerCRUD.html.jinja' %}


{% block content %}


    


    <h1 class="titulo"> {% block title %} Únete a nuestra familia {% endblock %}</h1>

   

        <form class method="POST" Content-Type='application/json'>

            <article>


            <div>
                <label for="correo_electronico">Correo eléctronico: </label><br>
                <input type="text" class="form-control" name="correo_electronico" 
                placeholder="correo_electronico"
                value="{{ request.form['correo_electronico'] }}">
                <br>
            </div>
            <div>
                <label for="contrasena">Descripción: </label><br>
                <input type="text" class="form-control" name="contrasena" 
                placeholder="contrasena"
                value="{{ request.form['contrasena'] }}">
                <br>
            </div>
        </form>





{% endblock %}


