{% extends 'base.html.jinja' %}

{% block content %}

<h1 class="titulo"> {% block title %} Iniciar Sesión {% endblock %}</h1>

<form action="{{ url_for('iniciar_sesion_post') }}" method="post">
    
    <div>
        <label for="correo_electronico">Correo electrónico: </label><br>
        <input type="text" class="form-control" name="correo_electronico" placeholder="correo_electronico" required>
        <br>
    </div>

    <div>
        <label for="contrasena">Contraseña: </label><br>
        <input type="text" class="form-control" name="contrasena" placeholder="contrasena" required>
        <br>
    </div>
    <input type="submit" value="Submit">
</form>

{% endblock %}