{% extends 'baseCliente.html.jinja' %}

{% block content %}
<h1>{% block title %} Sus pedidos {% endblock %}</h1>
    
<table id="formcenter">
    <tr>
        <th>ID del pedido</th>
        <th>Producto</th>
        <th>Fecha</th>
        <th>Monto</th>
        <th>Unidades</th>
        <th>Método de envio</th>
        <th>Estado</th>
        <th>Imagen</th>
    </tr>
    {% for order, product in Orders %}
    <tr>
        <td>{{ order.id_pedido }}</td>
        <td>{{ product.nombre }}</td>
        <td>{{ order.fecha_pedido }}</td>
        <td>{{ order.monto_total }}</td>
        <td>{{ order.cantidad_productos }}</td>
        <td>{{ order.metodo_envio }}</td>
        <td>{{ order.estado }}</td>
        <td><img src="/{{ product.imagen }}" alt="{{ product.nombre }}" width="100"></td>
        <td>
            <div>
                <form action="/order/delete/{{ order.id_pedido }}" method="post" style="display:inline;">
                <input type="hidden" class="form-control" name="order_id"  value="{{ order.id_pedido }}">
                <button type="submit">Delete</button>
            </form>

            <div>
                <form action="/order/client/accept{{ order.id_pedido }}" method="post" style="display:inline;">
                <input type="hidden" class="form-control" name="id_producto"  value="{{ order.id_pedido }}">
                <button type="submit">Aceptar</button>
            </form>

            <br>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
