{% extends 'baseArtesano.html.jinja' %}

{% block content %}
<h1>{% block title %} Tipo de Productos {% endblock %}</h1>
    
    
    <table id="formcenter">

        <tr>
            <th>ID de tipo</th>
            <th>Nombre</th>
        </tr>
        {% for type in typesProducts %}
        <tr>
            <td>{{ type.id_tipo }}</td>
            <td>{{ type.nombre }} </td>
            <td> 
                <button value="Modificar" onclick="window.location.href='/update_tipo_producto_post/{{type.id_tipo}}' ;" >Modificar</button> 

               
                
            </td>

        </tr>

           
           
        {% endfor %}
    </table>
{% endblock %}
