{% extends 'baseCliente.html.jinja' %}

{% block content %}
<h1>{% block title %} Realic sus pedidos {% endblock %}</h1>
    
<table id="formcenter">
    <tr>
        <th>ID de Producto</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Categoria</th>
        <th>Dimensiones</th>
        <th>Peso</th>
        <th>Imagen</th>
    </tr>
    {% for product in Products %}
    <tr>
        <td>{{ product.id_producto }}</td>
        <td>{{ product.nombre }}</td>
        <td>{{ product.descripcion }}</td>
        <td>{{ product.categoria }}</td>
        <td>{{ product.dimensiones }}</td>
        <td>{{ product.peso }}</td>
        <td><img src="/{{product.imagen}}" alt="{{ product.nombre }}" width="100"></td>
        <td>
            <div>
                <form action="/order/create/{{ product.id_producto }}" method="post" style="display:inline;">
                <input type="hidden" class="form-control" name="id_producto"  value="{{product.id_producto}}">
                <button type="submit">Delete</button>
            </form>
            <br>
        </td>

    </div>

    </tr>



    {% endfor %}
</table>
{% endblock %}
