{% extends 'baseArtesano.html.jinja' %}

{% block content %}
<h1>{% block title %} Lista de Pedidos {% endblock %}</h1>
    
<table id="formcenter">
    <tr>
        <th>ID del pedido</th>
        <th>Cliente</th>
        <th>Fecha del pedido</th>
        <th>N° de productos</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    {% for order in Orders %}
    <tr>
        <td>{{ order.id_pedido }}</td>
        <td>{{ order.id_cliente }}</td>
        <td>{{ order.fecha_pedido }}</td>
        <td>{{ order.cantidad_productos }}</td>
        <td>{{ order.estado }}</td>
        <td>
            <button onclick="window.location.href='/artisan/order/update/{{ order.id_pedido }}'">Actualizar</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
