{% extends 'baseArtesano.html.jinja' %}

{% block content %}
<h1>{% block title %} Actualizar Pedido {% endblock %}</h1>

<form action="/order/artesian/update/" method="post">
    <div>
        <input type="hidden" class="form-control" name="id_pedido" value="{{ order.id_pedido }}" readonly>
        <br>
    </div>

    <div>
        <input type="hidden" class="form-control" name="id_producto" value="{{ order.id_producto }}" readonly>
        <br>
    </div>

    <div>
        <label for="fecha_pedido">Fecha de Envío: </label><br>
        <input type="date" class="form-control" name="fecha_pedido" value="{{ order.fecha_pedido }}" required>
        <br>
    </div>

    <div>
        <select state="disabled" class="form-control" name="metodo_envio" required>
            <option value="agencia" {% if metodo_envio == "agencia" %}selected{% endif %}>Agencia de envío de paquetes</option>
            <option value="retiro" {% if metodo_envio == "retiro" %}selected{% endif %}>Retiro en la fábrica del productor</option>
        </select>
        <br>
    </div>

    <div>
        <input type="hidden" class="form-control" name="cantidad_productos" value="{{ order.cantidad_productos }}" required>
        <br>
    </div>

    <div>
        <label for="monto_total">Monto total a pagar: </label><br>
        <input type="number" class="form-control" name="monto_total" value="{{ order.monto_total }}" readonly>
        <br>
    </div>

    <input type="submit" value="Submit">
</form>
{% endblock %}

